WILCOM_EWA_APP_ID=
WILCOM_EWA_APP_KEY=
WILCOM_EWA_BASE_URL=https://public.ewa.wilcomapps.com
PULSEID_BASE_URL=https://webapi.pulseidconnect.com
MELCO_FUSION_BASE_URL=https://client.livedesignerfusion.com
MELCO_FUSION_USERNAME=
MELCO_FUSION_AUTH_HEADER=
MELCO_FUSION_TOKEN=
ZSK_WEB_API_BASE_URL=
ZSK_WEB_API_KEY=
ZSK_WEB_API_AUTH_HEADER=x-api-key
ZSK_WEB_API_ENDPOINT=/StitchJob
PORT=5174
